<div class="panel panel-default feature-item">
  <div class="panel-heading">
    <h3 class="panel-title">{{item.id}}{{#if item.preferred}} - Preferred{{/if}}</h3>
  </div>
  <div class="panel-body">
    <p>Account Type: {{item.accountType}}</p>
    <p>Account Name: {{item.accountName}}</p>
		<p>Status: {{item.status}}</p>
  </div>
  <div class="panel-footer text-right">
    {{yield}}
  </div>
</div>
