<td>
  <img src= {{result.state}} />
</td>
<td>
  {{result.instrumentName}}
</td>
<td>
  {{result.tidyExpiry}}
</td>
<td class="content {{result.bidChange}}">
  {{result.BID}}
</td>
<td class="content {{result.offerChange}}">
  {{result.OFFER}}
</td>
